/* CSS RULES */

/* universal selector */
* {
    /* HAS THE LOWEST PRIORITY */
    margin:0;
    padding:0;
    /* resets the margins for the project */
}

body{
    font-family: sans-serif;
    color: rgba(44,44,44);

    border-top: 10px solid lightblue ;
}

.container{
    width: 700px;
    /*this centers the container*/
    /* margin-left: auto;
    margin-right: auto; */

    margin: 0 auto;
}

.main-header {
    background-color:#f7f7f7;
    /* padding :20px;
    padding-left: 40px;
    padding-right: 40px; */
    padding: 20px 40px;
    margin-bottom: 60px;
    height: 80px;
}

.post-header{
    margin-bottom: 40px;

}

nav {
    font-size: 18px;
}

article {
    margin-bottom: 60px;
}

aside {
    background-color:#f7f7f7;
    border-top: 5px solid rgba(1, 39, 39, 0.733);
    border-bottom: 5px solid rgba(1, 39, 39, 0.733);
    /* padding-top: 50px;
    padding-bottom: 50px; */
    padding: 50px 0;
    width: 500px;
}

h1, h2, h3 {
    color: rgba(1, 39, 39, 0.733);
}

h1 {
    /*delcaration block */
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
  }

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

p {
    font-size: 22px;
    /* 'line height' is 1.5 times the font height */
    line-height: 1.5;
    margin-bottom: 50px;

}

ol, 
ul {
    margin-left: 50px;
    margin-bottom: 20px;
}

li {
    font-size: 20px;
    margin-bottom: 10px;
}

li:last-child{
    margin-bottom: 0;
}

/* descendant selector, p element is a child element of the footer */
/* footer p {
    font-size: 16px;
} */

/* avoid, as this can lead to encoding problems when HTML doc is changened */
/* article header p {
    font-style: italic;
} */

/* # is the ID selector */
#author {
    font-style: italic;
    font-size: 18px;
}

#copyright {
    font-size: 16px;
}

/* the . is the 'Class selector' */
.related-author {
    font-size: 18px;
    font-weight: bold;
}

.related {
    list-style: none;
}


/* body { 
    /* background-color:lightcyan; 
} */

/* .first-li {
    font-weight: bold;
}  */

/* sudo-class */
li:first-child {
    font-weight: bold;
}

li:last-child{
    font-style: italic;
}

/* you can use numbers or "odd/even" */
li:nth-child(3){
    /* color:red; */
}

/* is not the first child or article so nothing happens */
article p:first-child{
    color:red;
}

article p:last-child{
    color:red;
}

/* Styling the links : 
THE ORDER IS IMPORTANT ALWAYS PUT AS SUCH*/
/*LVHA*/
a:link{
    color:rgb(13, 139, 139);
    text-decoration: none; /*gets rid of the underline*/
}

/* to set a different color after site has been visited */
a:visited{
    color:rgb(13, 139, 139);
}

a:hover{
    color: orangered;
    font-weight: bold;
    text-decoration: underline dotted orangered;
}

a:active{
    background-color:black;
    font-style: italic;
}

.post-image{
    width: 100%;
    height: auto; 
    /*only needed if the height is already specfied in HMTL*/
}

/* resolving conflicts */
/* #copyright{
    color: red;
}

.copyright{
    color:blue;
}

.text{
    color:yellow;
}

footer p{
    color:green;
} */

/* nav a:link,
nav p{
    font-size: 18px;
} */



